In [1]:
import numpy as np
import pandas as p

In [2]:
d1 = p.DataFrame({'SKY' : ['SUNNY','SUNNY','RAINY','SUNNY'], 'AIRTEMP' : ['WARM','WARM','COLD','WARM'] , 'HUMIDITY' :['NORMAL','HIGH','HIGH','HIGH'],'WIND':['STRONG','STRONG','STRONG','STRONG'],'WATER':['WARM','WARM','WARM','COLD'],'FORECAST':['SAME','SAME','CHANGE','CHANGE'],'ENJOYSPORTS':['YES','YES','NO','YES']})
d1

     SKY AIRTEMP HUMIDITY    WIND WATER FORECAST ENJOYSPORTS
0  SUNNY    WARM   NORMAL  STRONG  WARM     SAME         YES
1  SUNNY    WARM     HIGH  STRONG  WARM     SAME         YES
2  RAINY    COLD     HIGH  STRONG  WARM   CHANGE          NO
3  SUNNY    WARM     HIGH  STRONG  COLD   CHANGE         YES

In [3]:
d1.to_csv('lab1.csv')
d2 = p.read_csv('lab1.csv')
d2

   Unnamed: 0    SKY AIRTEMP HUMIDITY    WIND WATER FORECAST ENJOYSPORTS
0           0  SUNNY    WARM   NORMAL  STRONG  WARM     SAME         YES
1           1  SUNNY    WARM     HIGH  STRONG  WARM     SAME         YES
2           2  RAINY    COLD     HIGH  STRONG  WARM   CHANGE          NO
3           3  SUNNY    WARM     HIGH  STRONG  COLD   CHANGE         YES

In [4]:
h = d2.iloc[0].values
print(h)

[0 'SUNNY' 'WARM' 'NORMAL' 'STRONG' 'WARM' 'SAME' 'YES']

In [5]:
h = h[ 1 : -1 ]
print(h)

['SUNNY' 'WARM' 'NORMAL' 'STRONG' 'WARM' 'SAME']

In [6]:
for i in d2.values [1 : ]:
    if(i[-1] == 'YES'):
        h1 = i[1 : -1]
        
        for j in range(0,len(h)):
            if(h[j] != h1[j]):
                h[j] = '?'
print(h)

['SUNNY' 'WARM' '?' 'STRONG' '?' '?']