In [5]:
import numpy as np
import pandas as p

In [6]:
d1 = p.DataFrame({'MATERIAL' : ['WOOL','WOOL','COTTON','JUTE','COTTON','COTTON','COTTON','COTTON','JUTE'], 'WEIGHT' : ['LIGHT','HEAVY','HEAVY','HEAVY','LIGHT','LIGHT','HEAVY','HEAVY','LIGHT'] , 'COST' :['HIGH','LOW','LOW','LOW','LOW','HIGH','LOW','MEDIUM','MEDIUM'],'CLASS':['WINTER DRESS','WINTER DRESS','WINTER DRESS','WINTER DRESS','SUMMER DRESS','SUMMER DRESS','SUMMER DRESS','SUMMER DRESS','SUMMER DRESS']})
d1

  MATERIAL WEIGHT    COST         CLASS
0     WOOL  LIGHT    HIGH  WINTER DRESS
1     WOOL  HEAVY     LOW  WINTER DRESS
2   COTTON  HEAVY     LOW  WINTER DRESS
3     JUTE  HEAVY     LOW  WINTER DRESS
4   COTTON  LIGHT     LOW  SUMMER DRESS
5   COTTON  LIGHT    HIGH  SUMMER DRESS
6   COTTON  HEAVY     LOW  SUMMER DRESS
7   COTTON  HEAVY  MEDIUM  SUMMER DRESS
8     JUTE  LIGHT  MEDIUM  SUMMER DRESS

In [7]:
d1.to_csv('lab2.csv')
data = p.read_csv('lab2.csv')
data

   Unnamed: 0 MATERIAL WEIGHT    COST         CLASS
0           0     WOOL  LIGHT    HIGH  WINTER DRESS
1           1     WOOL  HEAVY     LOW  WINTER DRESS
2           2   COTTON  HEAVY     LOW  WINTER DRESS
3           3     JUTE  HEAVY     LOW  WINTER DRESS
4           4   COTTON  LIGHT     LOW  SUMMER DRESS
5           5   COTTON  LIGHT    HIGH  SUMMER DRESS
6           6   COTTON  HEAVY     LOW  SUMMER DRESS
7           7   COTTON  HEAVY  MEDIUM  SUMMER DRESS
8           8     JUTE  LIGHT  MEDIUM  SUMMER DRESS

In [8]:
prior = data.groupby('CLASS').size().div(len(data))
print(prior)

CLASS
SUMMER DRESS    0.555556
WINTER DRESS    0.444444
dtype: float64

In [10]:
likelihood = {}
likelihood['MATERIAL'] = data.groupby(['CLASS', 'MATERIAL']).size().div(len(data)).div(prior)
print (likelihood['MATERIAL'])

CLASS         MATERIAL
SUMMER DRESS  COTTON      0.80
              JUTE        0.20
WINTER DRESS  COTTON      0.25
              JUTE        0.25
              WOOL        0.50
dtype: float64

In [19]:
likelihood['WEIGHT'] = data.groupby(['CLASS', 'WEIGHT']).size().div(len(data)).div(prior)
print (likelihood['WEIGHT'])

CLASS         WEIGHT
SUMMER DRESS  HEAVY     0.40
              LIGHT     0.60
WINTER DRESS  HEAVY     0.75
              LIGHT     0.25
dtype: float64

In [20]:
likelihood['COST'] = data.groupby(['CLASS', 'COST']).size().div(len(data)).div(prior)
print (likelihood['COST'])

CLASS         COST
SUMMER DRESS  HIGH      0.20
              LOW       0.40
              MEDIUM    0.40
WINTER DRESS  HIGH      0.25
              LOW       0.75
dtype: float64

In [30]:
WinterD = likelihood['MATERIAL']['WINTER DRESS']['JUTE'] * likelihood['WEIGHT']['WINTER DRESS']['LIGHT'] *  likelihood['COST']['WINTER DRESS']['LOW'] * prior['WINTER DRESS']
print ('WinterDress : ', WinterD)

WinterDress :  0.020833333333333332

In [31]:
SummerD = likelihood['MATERIAL']['SUMMER DRESS']['JUTE'] * likelihood['WEIGHT']['SUMMER DRESS']['LIGHT'] *  likelihood['COST']['SUMMER DRESS']['LOW'] * prior['SUMMER DRESS']
print ('SummerDress : ', SummerD)

SummerDress :  0.02666666666666666

In [32]:
if(SummerD > WinterD):
    print("Higher probability person will wear Summer Dress")
else:
    print("Higher probability person will wear Winter Dress")

Higher probability person will wear Summer Dress